.play-video {
    flex-basis: 69%;
}

.play-video iframe {
    width: 100%;
    height: 37vw;
}

.play-video h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}

.play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5A5A5A;
}

.play-video-info img {
    width: 20px;
    margin-right: 8px;    
}

.play-video-info span {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video hr {
    border: 0px;
    height: 1px;
    background: #CCCCCC;
    margin: 10px 0px;
}

/* Publisher Info */
.publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div {
    flex: 1;
    line-height: 18px;
}

.publisher img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;    
}

.publisher div p {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.publisher div span {
    color: #5A5A5A;
    font-size: 14px;
}

.publisher button {
    background: #ff0000;
    color: #FFFFFF;
    padding: 8px 30px;
    border: 0px;
    outline: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.vid-description {
    padding-left: 55px;
    margin: 15px 0px;
}

.vid-description p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5A5A5A;
}

.vid-description h4 {
    font-size: 14px;
    color: #5A5A5A;
    margin-top: 15px;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin: 20px 0px;
}

.comment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;    
}

.comment h3 {
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 0px;
}

.comment h3 span {
    font-size: 12px;
    color: #5A5A5A;
    font-weight: 500;
    margin-left: 8px;
}

.comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0px;
    font-size: 14px;
}

.comment-action img {
    border-radius: 0px;
    width: 20px;
    margin-right: 5px;
}

.comment-action span {
    margin-right: 20px;
    color: #5A5A5A;
}

@media (max-width: 900px) {
    .play-video {
        flex-basis: 100%;
    }

    .play-video iframe {
        width: 100%;
        height: 50vw;
    }

    .vid-description {
        padding-left: 0px;
    }
    
    .play-video .play-video-info span {
        margin-left: 0px;
        margin-right: 15px;
        margin-top: 10px;
    }

}