.sidebar {
    background: #FFFFFF;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;    
}

.shortcut-links img {
    width: 20px;
    margin-right: 20px;    
}

.side-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}

.sidebar hr {
    border: 0px;
    height: 1px;
    background: #CCCCCC;
    width: 85%;
}

.subscribed-link h3 {
    font-family: 14px;
    margin: 20px 0;
    color: #5A5A5A;
}

.subscribed-link img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar {
    width: 5%;
}

.small-sidebar .side-link p {
    display: none;
}

.small-sidebar .subscribed-link h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}

.side-link.active img {
    padding-bottom: 5px;
    border-bottom: 3px solid #ff0000;
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}